*.o
*.so.*
*_parse.tab.c
*_parse.tab.h
lex.*_parse.c

Makefile
apps/Makefile
apps/*/Makefile
docker/Makefile
etc/Makefile
example/Makefile
lib/Makefile
lib/*/Makefile
autom4te.cache/

config.log
config.status
TAGS

apps/backend/clixon_backend
apps/backend/test
apps/backend/test.c
apps/cli/clixon_cli
apps/cli/test
apps/cli/test.c
apps/dbctrl/clixon_dbctrl
apps/netconf/clixon_netconf
apps/restconf/clixon_restconf
apps/xmldb/clixon_xmldb

docker/backend/Dockerfile
docker/cli/Dockerfile
docker/netconf/Dockerfile

etc/clixonrc

include/clixon_config.h

lib/src/build.c
lib/clixon/clixon.h

build-root/*.tar.xz
build-root/*.rpm
build-root/rpmbuild

test/public
doc/html