*.o
*.so.*
*.so
*_parse.tab.c
*_parse.tab.h
lex.*_parse.c
*.depend

Makefile
apps/Makefile
apps/*/Makefile
datastore/Makefile
docker/Makefile
docker/*/Makefile
etc/Makefile
example/Makefile
example/*/Makefile
lib/Makefile
lib/*/Makefile
test/Makefile
test/*/Makefile
yang/Makefile
yang/*/Makefile
autom4te.cache/

config.log
config.status
TAGS

apps/backend/clixon_backend
apps/backend/test
apps/backend/test.c
apps/cli/clixon_cli
apps/cli/test
apps/cli/test.c
apps/dbctrl/clixon_dbctrl
apps/netconf/clixon_netconf
apps/restconf/clixon_restconf
apps/restconf/clixon_restconf_libhttp
apps/xmldb/clixon_xmldb

etc/clixonrc

include/clixon_config.h

lib/src/build.c
lib/clixon/clixon.h

build-root/*.tar.xz
build-root/*.rpm
build-root/rpmbuild

util/clixon_util_datastore
util/clixon_util_insert
util/clixon_util_json
util/clixon_util_stream
util/clixon_util_xml
util/clixon_util_xpath
util/clixon_util_yang

test/config.sh
test/site.sh
test/vagrant/site.mk
test/cicd/site.mk
doc/html